<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
    <link rel="stylesheet" th:href="@{~/css/main.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>

</head>
<body>
<div class="wrapper">
    <header>
        <img th:src="@{~/img/A.png}">
    </header>
    <form class="signup-form" th:method="post" th:action="@{/admin/save}" th:object="${property}"  enctype="multipart/form-data" >
        <div class="id">

            <input type="text"  hidden="hidden" placeholder="Id"th:field="*{P_id}" th:value="${property.P_id}">
        </div>
        <input type="file" name="image" accept="image/*" class="form-control-file">


        <div class="field nameS">
            <div class="input-area">
                <input type="text" placeholder="Enter PropertyName" th:field="*{propertyName}" th:value="${property.propertyName}">
                <i class="icon "></i>
                <i class="error error-icon fas fa-exclamation-circle"></i>
            </div>
            <div class="error error-txt">Property can't be blank</div>
        </div>
        <div class="field nameS">
            <div class="input-area">
                <input type="text" placeholder="Enter AreaSq" th:field="*{areaSq}" th:value="${property.areaSq}">
                <i class="icon "></i>
                <i class="error error-icon fas fa-exclamation-circle"></i>
            </div>
            <div class="error error-txt">AreaSq can't be blank</div>
        </div>
        <div class="field nameS">
            <div class="input-area">
                <input type="text" placeholder="Enter TotalRoom" th:field="*{room}" th:value="${property.room}">
                <i class="icon "></i>
                <i class="error error-icon fas fa-exclamation-circle"></i>
            </div>
            <div class="error error-txt">Room can't be blank</div>
        </div>
        <div class="field nameS">
            <div class="input-area">
                <input type="text" placeholder="Enter PropertyLocation" th:field="*{location}" th:value="${property.location}">
                <i class="icon "></i>
                <i class="error error-icon fas fa-exclamation-circle"></i>
            </div>
            <div class="error error-txt">Location can't be blank</div>
        </div>
        <div class="field nameS">
            <div class="input-area">
                <input type="text" placeholder="Enter PropertyCity" th:field="*{PCity}" th:value="${property.PCity}">
                <i class="icon "></i>
                <i class="error error-icon fas fa-exclamation-circle"></i>
            </div>
            <div class="error error-txt">PCity can't be blank</div>
        </div>
        <div class="field nameS">
            <div class="input-area">
                <input type="text" placeholder="Enter OwnerName" th:field="*{ownerName}" th:value="${property.ownerName}">
                <i class="icon "></i>
                <i class="error error-icon fas fa-exclamation-circle"></i>
            </div>
            <div class="error error-txt">OwnerName can't be blank</div>
        </div>
        <div class="field nameS">
            <div class="input-area">
                <input type="text" placeholder="Enter OwnerAddress" th:field="*{OwnerAddress}" th:value="${property.ownerAddress}">
                <i class="icon "></i>
                <i class="error error-icon fas fa-exclamation-circle"></i>
            </div>
            <div class="error error-txt">OwnerAddress can't be blank</div>
        </div>

        <div class="field mobile">
            <div class="input-area">
                <input type="text" placeholder="Enter phone number..." th:field="*{mobileNo}" th:value="${property. mobileNo}">

                <i class="icon "></i>
                <i class="error error-icon fas fa-exclamation-circle"></i>
            </div>
            <div class="error error-txt">MobileNo can't be blank</div>
        </div>

        <div class="field emailS">
            <div class="input-area">
                <input type="email" placeholder="Enter your email" th:field="*{email}" th:value="${property.email}">
                <i class="icon fas fa-envelope"></i>
                <i class="error error-icon fas fa-exclamation-circle"></i>
            </div>
            <div class="error error-txt">Email can't be blank</div>
        </div>
        <input type="submit" value="Add New">
    </form>
</div>
<script th:src="@{~/Js/main.js}"></script>
</body>
</html>