<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <title> Admin Dashboard </title>
  <link rel="stylesheet" href="style.css">

  <!-- Boxicons CDN Link -->
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link th:href="@{~/css/Admin.css}" rel="stylesheet">
</head>
<body>
<div class="sidebar">
  <div class="logo-details">
    <i class='bx bxl-a-plus-plus'></i>
    <span class="logo_name">Afnai</span>
  </div>
  <ul class="nav-links">
    <li>
      <a href="#" class="active">
        <i class='bx bx-grid-alt' ></i>
        <span class="links_name">Dashboard</span>
      </a>
    </li>
    <li>
      <a th:href="@{~/admin/property}">
        <i class='bi bi-house-door-fill' ></i>
        <span class="links_name">Property</span>
      </a>
    </li>
    <li>
      <a th:href="@{~/admin/propertyList}">
        <i class='bi bi-houses-fill' ></i>
        <span class="links_name">Property list</span>
      </a>
    </li>
    <li>
      <a th:href="@{~/admin/create}">
        <i class='bi bi-house-add-fill' ></i>
        <span class="links_name">Add property</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-coin-stack'></i>
        <span class="links_name">Stock</span>
      </a>
    </li>
    <li>
      <a th:href="@{~/admin/orderList}">
        <i class='bx bx-book-alt' ></i>
        <span class="links_name">Total Intrested</span>
      </a>
    </li>
    <li>
      <a th:href="@{~/user/list}">
        <i class='bi bi-people-fill' ></i>
        <span class="links_name"> All Customers</span>
      </a>
    </li>


    <li>
      <a href="#">
        <i class='bx bx-cog' ></i>
        <span class="links_name">Setting</span>
      </a>
    </li>
    <li class="log_out">
      <a th:href="@{~/logout}">
        <i class='bx bx-log-out'></i>
        <span class="links_name">Log out</span>
      </a>
    </li>
  </ul>
</div>


<section class="home-section">
  <nav>
    <div class="sidebar-button">
      <i class='bx bx-menu sidebarBtn'></i>
      <span class="dashboard">Dashboard</span>
    </div>
    <div class="search-box">
      <input type="text" placeholder="Search...">
      <i class='bx bx-search' ></i>
    </div>
    <div class="profile-details">
<!--      <td>-->
<!--        <img th:src="'data:image/png;base64,'+${logged.imageBase64}" width="40" height="40"/>-->
<!--      </td>-->
      <img th:src="@{~/img/a ravi.jpg}" alt="">
      <span class="admin_name"><td th:text="${logged.userName}"></td>
</span>
      <i class='bx bx-chevron-down' ></i>
    </div>
  </nav>

  <div class="home-content">
    <div class="overview-boxes">
      <div class="box">
        <div class="right-side">
          <div class="box-topic">Intrested</div>
          <div class="number">2</div>
          <div class="indicator">
            <i class='bx bx-up-arrow-alt'></i>
            <span class="text">Up from yesterday</span>
          </div>
        </div>
        <i class='bx bx-cart-alt cart'></i>
      </div>
      <div class="box">
        <div class="right-side">
          <div class="box-topic">Total Sales</div>
          <div class="number">1</div>
          <div class="indicator">
            <i class='bx bx-up-arrow-alt'></i>
            <span class="text">Up from yesterday</span>
          </div>
        </div>
        <i class='bx bxs-cart-add cart two' ></i>
      </div>
      <div class="box">
        <div class="right-side">
          <div class="box-topic">Total Profit</div>
          <div class="number">$0</div>
          <div class="indicator">
            <i class='bx bx-up-arrow-alt'></i>
            <span class="text">Up from yesterday</span>
          </div>
        </div>
        <i class='bx bx-cart cart three' ></i>
      </div>
    </div>

    <div class="sales-boxes">
      <div class="recent-sales box">
        <h1>Recent Customers</h1>
        <table>
          <thead>
          <tr>
            <th>Email</th>
            <th>MobileNo</th>
            <th>userName</th>
            <th>Image</th>
            <th>Action</th>
          </tr>
          </thead>

          <tbody>
          <tr th:each="user:${userList}">
            <td th:text="${user.email}"></td>
            <td th:text="${user.mobileNo}"></td>
            <td th:text="${user.useernname}"></td>
            <td>
              <img th:src="'data:image/png;base64,'+${user.imageBase64}" width="40" height="40"/>
            </td>
            <td>
              <a th:href="@{~/user/edit/}+${user.U_id}">Edit</a> |
              <a th:href="@{~/user/delete/}+${user.U_id}">Delete</a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="sales-boxes">
      <div class="recent-sales box">
        <h1>Recent Intrested</h1>
        <table>
          <thead>
          <tr>
            <th>IntrestedBy</th>
            <th>Property</th>
            <th>Location</th>
            <th>Action</th>
          </tr>

          </thead>
          <tbody>
          <tr th:each="order:${orderList}">
            <!--                                    <td>-->
            <!--                                        <img th:src="'data:image/png;base64,'+${order.getUser().getimageBase64()}" width="40" height="40"/>-->
            <!--                                    </td>-->
            <td th:text="${order.getUser().getUseernname()}"></td>

            <td th:text="${order.getProperty().getPropertyName()}"></td>

            <td th:text="${order.getProperty().getLocation()}"></td>
            <!--                                    <td>-->
            <!--                                        <img th:src="'data:image/png;base64,'+${order.getProperty().getimageBase64()}" width="40" height="40"/>-->
            <!--                                    </td>-->
            <td>
              <a th:href="@{~/order/delete/}+${order.orderid}">Delete</a>
            </td>
          </tr>



          </tbody>
        </table>
      </div>
    </div>

  </div>
</section>

<script>
  let sidebar = document.querySelector(".sidebar");
  let sidebarBtn = document.querySelector(".sidebarBtn");
  sidebarBtn.onclick = function() {
    sidebar.classList.toggle("active");
    if(sidebar.classList.contains("active")){
      sidebarBtn.classList.replace("bx-menu" ,"bx-menu-alt-right");
    }else
      sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
  }
</script>

</body>
</html>
