<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
    <link rel="stylesheet" th:href="@{~/css/main.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>

</head>
<body>
<div class="wrapper">
    <header>
        <img th:src="@{~/img/A.png}">
    </header>
    <form class="signup-form" th:method="post" th:action="@{/user/save}" th:object="${user}" enctype="multipart/form-data">

        <div class="id">

                <input type="text"  hidden="hidden" placeholder="ID"th:field="*{U_id}" th:value="${user.U_id}">
        </div>
        <div class="field nameS">

        <input type="file" name="image" accept="image/*" class="form-control-file">
            </div>

        <div class="field nameS">
            <div class="input-area">
                <input type="text" placeholder="Enter your Name" th:field="*{userName}" th:value="${user.userName}">
                <i class="icon "></i>
                <i class="error error-icon fas fa-exclamation-circle"></i>
            </div>
            <div class="error error-txt">Username can't be blank</div>
        </div>

        <div class="field mobile">
            <div class="input-area">
                <input type="text" placeholder="Enter phone number..." th:field="*{mobileNo}" th:value="${user. mobileNo}">

                <i class="icon bi bi-telephone"></i>
                <i class="error error-icon fas fa-exclamation-circle"></i>
            </div>
            <div class="error error-txt">MobileNo can't be blank</div>
        </div>




        <div class="field emailS">
            <div class="input-area">
                <input type="email" placeholder="Enter your email" th:field="*{email}" th:value="${user.email}">
                <i class="icon fas fa-envelope"></i>
                <i class="error error-icon fas fa-exclamation-circle"></i>
            </div>
            <div class="error error-txt">Email can't be blank</div>
        </div>



        <div class="field passwordS">
            <div class="input-area">
                <input type="password" placeholder="Confirm password..." th:field="*{password}" th:value="${user.password}">

                <i class="icon fas fa-lock"></i>
                <i class="error error-icon fas fa-exclamation-circle"></i>
            </div>
            <div class="error error-txt">Password can't be blank</div>
        </div>
        <input type="submit" value="Sign Up">
    </form>
</div>
<script th:src="@{~/Js/main.js}"></script>
</body>
</html>