<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" th:href="@{~/css/main.css}">
  <link rel="stylesheet" th:href="@{~/css/style.css}">



  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>

</head>
<body>

<section class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content modal-popup">

      <div class="modal-header">

      </div>

      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">

            <div class="col-md-12 col-sm-12">
              <div class="modal-title">
                <img th:src="@{~/img/A.png}">
              </div>

              <!-- NAV TABS -->
              <ul class="nav nav-tabs" role="tablist">
                <li><a th:href="@{~/user/create}" aria-controls="sign_in" role="tab" data-toggle="tab">Sign Up</a></li>
              </ul>

              <!-- TAB PANES -->
              <div role="tabpanel" class="tab-pane fade in" id="sign_in">
                <form th:method="post" th:action="@{/user/request-password-reset}" th:object="${message}">
                  <input type="email" class="form-control" name="email" placeholder="Email" required th:field="*{email}">
                  <input type="submit" class="form-control" name="Log In" value="Login">
                </form>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</section>

</body>
</html>
